<div class="container orgContent">
  <div *ngIf="organisationAsync; else loading">
    <!-- If user are apart on an organisation -->
    <div *ngIf="hasAnOrganisation">
      <div class="container-fluid card orgInfoCard">
        <!-- STRUCTURE THIS IN A GRID!!! -->
        <div *ngIf="!editMode">
          <div class="row">
            <div class="col-8">
              <h2>{{myOrganisation.name}}</h2>
            </div>
            <div class="col-4 text-right">
              <button class="btn btn-secondary" (click)="openDialog(deleteOrgDialogTemplate)"><i class="fa fa-eraser"></i>Delete</button>
              <button class="btn btn-primary" (click)="enterEditMode()"><i class="fa fa-wrench"></i>Edit</button>
            </div>
          </div>
          <div class="mt-4 row">
            <div class="col">
              <p>Pending join requests:</p>
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let member of pendingMembers | async">
                  <p class="memberReqName">{{member.name}}</p>
                  <div class="memberDecideButtons">
                    <button class="btn btn-success" (click)="acceptMemberRequest(member)">Accept</button>
                    <button class="btn btn-danger" (click)="rejectMemberRequest(member)">Reject</button>
                  </div>
                </li>
                <li class="list-group-item" *ngIf="(pendingMembers | async | json) == '[]'">No pending request</li>
              </ul>
            </div>
          </div>

          <p>Members:</p>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let member of members | async">{{member.name}}
              <button type="button" class="btn btn-link text-danger pull-right"
                      (click)="removeMember(member)"
                      *ngIf="(members | async)?.length > 1">Remove</button>
            </li>
            <li class="list-group-item" *ngIf="(members | async | json) == '[]'">No members is attached</li>
          </ul>
        </div>
        <!--Edit organisation view -->
        <div *ngIf="editMode">
          <!--{{edit | json}}-->
          <form #theForm="ngForm" novalidate>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="nameInput">Name</label>
                  <input type="text" class="form-control" id="editOrgNameInput" name="name"
                         aria-describedby="editOrgNameHelp" placeholder="Organisation name" [(ngModel)]="edit.name"
                         required>
                  <small id="editOrgNameHelp" hidden="true" class="alert alert-danger form-text text-muted">Enter a logo
                    url to the service
                  </small>
                </div>
                <div class="form-group">
                  <label for="editDescriptionInput">Description</label>
                  <textarea class="form-control" id="editDescriptionInput" name="description"
                            aria-describedby="editDescriptionHelp" [(ngModel)]="edit.description" required></textarea>
                  <small id="editDescriptionHelp" hidden="true" class="alert alert-danger form-text text-muted">Enter
                    short description of your organisation
                  </small>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="editNumberInput">Number</label>
                  <input type="text" class="form-control" id="editNumberInput" name="number"
                         placeholder="Organisation number" [(ngModel)]="edit.number" required>
                </div>
                <div class="form-group">
                  <label for="contactInput">Contact email</label>
                  <input type="email" class="form-control" id="editOrgContactInput" name="contact"
                         aria-describedby="contactHelp" placeholder="Contact email" [(ngModel)]="edit.email" email
                         required>
                  <small id="editOrgContactHelp" hidden="true" class="alert alert-danger form-text text-muted">Enter a
                    logo url to the service
                  </small>
                </div>

                <div class="text-right">
                  <button class="btn" (click)="cancel()">Cancel</button>
                  <button class="btn btn-primary" (click)="save()">Save</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- if user is not apart of an organisation, presenting options -->
    <div *ngIf="!hasAnOrganisation">
      <div class="container">
        <div class="row  orgChoiceCardContainer">
          <div class="col-md-6 orgChoiceCardWrap">
            <!--<form>-->
            <div class="col-md-12 orgChoiceCard">
              <h4>New Organisation</h4>
              <!--<button type="button" class="btn btn-primary" (click)="toggleCreateOrgCollapsed()"
                          [attr.aria-expanded]="!isCreateOrgCollapsed" aria-controls="collapseCreateNew">
                    Create
                  </button> -->
              <button class="btn btn-primary" (click)="openDialog(createOrg)">CREATE</button>
            </div>
          </div>
          <div class="col-md-6 orgChoiceCardWrap">
            <div class="col-md-12 orgChoiceCard">
              <h4>Join a Organisation</h4>
              <!-- <button type="button" class="btn btn-secondary" (click)="toggleJoinCollapsed()"
                          [attr.aria-expanded]="!isJoinCollapsed" aria-controls="collapseJoin">
                    Create
                  </button> -->
              <button class="btn btn-primary" (click)="openDialog(joinOrg)">JOIN</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>Laddar ...</ng-template>

<ng-template #createOrg>
  <div class="modal-header">
    <h4 class="modal-title">Create an Organisation</h4>
    <button type="button" class="close text-left" aria-label="Close" (click)="closeDialog('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #theForm="ngForm" novalidate>
      <div class="form-group">
        <label for="nameInput">Name</label>
        <input type="text" class="form-control" id="nameInput" name="name" aria-describedby="nameHelp"
               placeholder="Organisation name" [(ngModel)]="edit.name" required>
        <small id="nameHelp" hidden="true" class="alert alert-danger form-text text-muted">Enter name for your
          organisation
        </small>
      </div>
      <div class="form-group">
        <label for="descriptionInput">Description</label>
        <textarea class="form-control" id="descriptionInput" name="description" aria-describedby="descriptionHelp"
                  [(ngModel)]="edit.description" required></textarea>
        <small id="descriptionHelp" hidden="true" class="alert alert-danger form-text text-muted">Enter short
          description of your organisation
        </small>
      </div>
      <div class="form-group">
        <label for="numberInput">Number</label>
        <input type="text" class="form-control" id="numberInput" name="number" placeholder="Organisation number"
               [(ngModel)]="edit.number" required>
      </div>
      <div class="form-group">
        <label for="contactInput">Contact email</label>
        <input type="email" class="form-control" id="contactInput" name="contact" aria-describedby="contactHelp"
               placeholder="Contact email" [(ngModel)]="edit.email" email required>
        <small id="contactHelp" hidden="true" class="alert alert-danger form-text text-muted">Enter a logo url to the
          service
        </small>
      </div>
      <button class="btn btn-success" (click)="createNewOrganisation();">Create new organisation</button>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="closeDialog('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #joinOrg>
  <div class="modal-header">
    <h4 class="modal-title">Join a Organisation</h4>
    <button type="button" class="close text-left" aria-label="Close" (click)="closeDialog('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="reqOrgNameInput">Organisation name</label>
        <input type="text" class="form-control" id="reqOrgNameInput" name="reqOrgNameInput"
               placeholder="Organisation name" [(ngModel)]="joinRequestOrganisation"
               [ngbTypeahead]="typeaheadOrganisations" [resultFormatter]="formatter" [inputFormatter]="formatter" #modelElement="ngModel"
               required>
      </div>
      <div class="form-group">
        <label for="reqMemNameInput">Your name</label>
        <input type="text" class="form-control" id="reqMemNameInput" name="reqMemNameInput"
               aria-describedby="reqMemNameHelp" placeholder="Your name" [(ngModel)]="joinRequestMemberName" required>
        <small id="reqMemNameHelp" hidden="true" class="alert alert-danger form-text text-muted">Enter a logo url to the
          service
        </small>
      </div>
      <button class="btn btn-success" (click)="sendJoinRequest();">Join one</button>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="closeDialog('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #deleteOrgDialogTemplate>
  <div class="modal-header">
    <h4 class="modal-title">Delete Organisation</h4>
    <button type="button" class="close text-left" aria-label="Close" (click)="closeDialog('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h5>Are you sure to delete this organisation?</h5>
    <button type="button" class="mt-2 btn btn-danger" (click)="closeDialog('Close click')">No keep it</button>
    <button class="btn btn-success pull-right" (click)="delete();">Yes delete it</button>
  </div>
  <div class="modal-footer">

  </div>
</ng-template>
