<div class="container mt-2 mb-2" *ngIf="myRegistrations | async; let registrations; else loading">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">List of your registered services</h5>

      <div class="table-responsive-sm">
        <table class="table table-striped">
          <colgroup>
            <col width="5%">
            <col>
            <col width="30%">
            <col width="20%">
            <col width="10%">
            <col width="10%">
          </colgroup>
          <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Title</th>
            <th scope="col">Category</th>
            <th scope="col">Competences</th>
            <th scope="col" title="If the service is published public on Job store">Published</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tfoot>
          <tr>
            <td colspan="5">&nbsp;</td>
            <td>
              <button type="button" class="btn btn-primary" (click)="onAddNew()"><i class="fa fa-plus-circle"></i> Add</button>
            </td>
          </tr>
          </tfoot>
          <tbody>
          <tr *ngFor="let registration of registrations">
            <td><img [src]="'https://www.google.com/s2/favicons?domain_url='+doEncodeURI(registration.url)" alt="logo"></td>
            <th scope="row">{{ registration.title }}</th>
            <td>{{ registration.category }}</td>
            <td>{{ registration.competences }}</td>
            <td >
              <i [class]="registration.published ? 'fa fa-toggle-on' : 'fa fa-toggle-off'" (click)="togglePublish(registration)"> {{registration.published?'Yes':'No'}}</i>

            </td>
            <td>
              <button type="button" class="btn btn-secondary" (click)="onEdit(registration.id)"><i
                class="fa fa-wrench"></i> Edit
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


</div>

<ng-template #loading>Laddar ...</ng-template>
