
<div class="container-fluid our-products">
  <p class="showcase-description text-center">Latest applications that have been built with our APIs, SDKs, and other developer tools.</p>
  <p class="showcase-description text-center">Built an application using our assets?
    <a href="mailto:jobtechdev@arbetsformedlingen.se">Email us</a> and tell us about it!</p>
  <div class="row puffs">
    <div class="col-sm-6 col-md-4 col-lg-3">
      <a href="http://historik.azurewebsites.net" target="_blank">
        <div class="puff">
          <img src="assets/images/history-analysis-puff.jpg">
          <div class="puff-text">
            <p class="puff-title">Historical Data Analysis</p>
            <p class="puff-description">Make smarter decisions with past data on job trends in various industry sectors</p>
            <p class="puff-type">APPLICATION</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <a href="https://github.com/jobtechdev/vacancieswidget" target="_blank">
        <div class="puff">
          <img src="assets/images/widget.png">
          <div class="puff-text">
            <p class="puff-title">Job Postings</p>
            <p class="puff-description">Add Job postings list to your site in minutes.</p>
            <p class="puff-type">VACANCIES WIDGET</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <a href="https://github.com/buren/arbetsformedlingen" target="_blank">
        <div class="puff">
          <img src="assets/images/justarrived.png">
          <div class="puff-text">
            <p class="puff-title">Post job ads</p>
            <p class="puff-description">A SDK written in Ruby to validate and send job ads, developed by justarrived.se</p>
            <p class="puff-type">POST JOB ADS</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <a href="http://pilot.arbetsformedlingen.se/kompetensutforskaren/#!/" target="_blank">
        <div class="puff">
          <img src="assets/images/ontologi.png">
          <div class="puff-text">
            <p class="puff-title">Kompetensutforskaren</p>
            <p class="puff-description">An example of how to use our Ontology API </p>
            <p class="puff-type">KOMPETENSUTFORSKAREN</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>