@import '~scss/_variables';

.product-content-subpages {
  margin: 0;
  box-shadow: 3px 20px 30px darkgrey;
  background-color: white;
}

.product-content-subpages .product-content-subpage {
  margin: 0;
  border-radius: 5px;
}

.product-content-subpages .product-content-subpage .product-content-subpage-title {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.4px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 150px;
}

.product-content-subpages .product-content-subpage .product-content-subpage-title-text {
  color: $white;
  padding: 35px 0 0 95px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

.product-content-subpages .product-content-subpage .product-content-subpage-text {
  white-space: pre-line;
  padding: 0;
  margin: 50px;
  text-align: center;
}

.product-content-subpages .product-content-subpage .product-content-subpage-text .product-content-left {
  color: #666;
  font-size: 14px;
  white-space: pre-line;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.product-content-subpages .product-content-subpage .product-content-subpage-text {
  white-space: pre-line;
  padding: 0;
  margin: 50px;
  text-align: center;
}

.product-content-subpages .product-content-subpage .product-content-subpage-text .btn {
  margin: 10px;
}
