<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/']">
    <img src="/assets/images/jobtechlogo.png">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/assets']" routerLinkActive="active">ASSETS</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/platform']" routerLinkActive="active">PLATFORM</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/showcase']" routerLinkActive="active">SHOWCASE</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/news']" routerLinkActive="active">NEWS</a>
      </li>
    </ul>
  </div>
</nav>

route: {{ getActiveRoute() }}
