<div class="container mt-2 mb-2">
  <div class="card" *ngIf="service; else loading">

    <div class="card-body">
      <h5 class="card-title">{{isNew ? "Create a new service": "Edit your service"}}</h5>

      <form (ngSubmit)="onSave(theForm)" #theForm="ngForm" novalidate>
        <div class="row ">
          <div class="col-12 col-md-6">

            <div class="form-group">
              <label for="nameInput">Name</label>
              <input type="text" class="form-control" id="nameInput" aria-describedby="nameHelp"
                     placeholder="Enter name" #name="ngModel" [(ngModel)]="service.name"
                     name="name" required>
              <small id="nameHelp" [hidden]="name.valid || name.pristine"
                     class="alert alert-danger form-text text-muted">Enter a title
              </small>
            </div>

            <div class="form-group">
              <label for="inputDescription">Description</label>
              <textarea class="form-control" id="inputDescription" name="description" aria-describedby="descriptionHelp"
                        placeholder="Enter description" [(ngModel)]="service.description" rows="3"

                        required #description="ngModel"></textarea>
              <small id="descriptionHelp" [hidden]="description.valid || description.pristine"
                     class="alert alert-danger form-text text-muted">Enter the service description
              </small>
            </div>

            <div class="form-group">
              <label for="homepageInput">Link</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text" id="btnGroupFavicon">
                    <img [src]="'https://www.google.com/s2/favicons?domain_url='+doEncodeURI(service.homepage)" alt="favicon">
                  </div>
                </div>
                <input type="text" class="form-control" id="homepageInput" name="homepage" aria-describedby="homepageHelp"
                       placeholder="Enter url"
                       [(ngModel)]="service.homepage" #homepage="ngModel" required>
              </div>

              <small id="homepageHelp" [hidden]="homepage.valid || homepage.pristine"
                     class="alert alert-danger form-text text-muted">Enter what url the service is targeting
              </small>
            </div>

            <div class="form-group">
              <label for="logoInput">Logo</label>
              <input type="text" class="form-control" id="logoInput" name="logo" aria-describedby="logoHelp"
                     placeholder="Enter logo"
                     [(ngModel)]="service.logoUrl" #logo="ngModel" required>
              <small id="logoHelp" [hidden]="logo.valid || logo.pristine"
                     class="alert alert-danger form-text text-muted">Enter a logo url to the service
              </small>

              <img [src]="service.logoUrl" title="logo" alt="logo">
            </div>

          </div>
          <div class="col-12 col-md-6">
            <div class="form-group">
              <label for="inputCategory">Category</label>
              <select class="form-control custom-select" [ngModel]="service.category"
                      (ngModelChange)="service.category=$event" id="inputCategory" name="category" required>
                <option value="" disabled default>Select Category</option>
                <option *ngFor="let option of categories | async" [value]="option">{{option}}</option>
              </select>
            </div>

            <div class="form-group">
              <label for="professionsInput">Professions</label>

              <tag-input class="form-control" [(ngModel)]="professions" #_professions="ngModel"
                         id="professionsInput" name="_professions">
                <tag-input-dropdown [autocompleteObservable]="autocompleteForProfessions"></tag-input-dropdown>
              </tag-input>
            </div>

            <div class="form-group">
              <label for="competencesInput">Competences</label>

              <tag-input class="form-control" [(ngModel)]="competences" #_competences="ngModel"
                         id="competencesInput" name="_competences">
                <tag-input-dropdown [autocompleteObservable]="autocompleteForCompetences"></tag-input-dropdown>
              </tag-input>
            </div>

            <div class="form-group form-check">
              <input class="form-check-input" type="checkbox" id="publishedCheck" name="published"
                     [(ngModel)]="service.published">
              <label class="form-check-label" for="publishedCheck">
                Is this service ready to publish to JobStore?
              </label>
            </div>

            <div class="form-group">
              <button type="button" class="btn btn-secondary" (click)="onBackToList()"><i class="fa fa-hand-o-left"></i>
                Back to list
              </button>

              <button type="button" class="btn btn-secondary ml-1" (click)="onDelete()" *ngIf="isNew === false"><i
                class="fa fa-eraser"></i> Delete
              </button>
              <button type="button" class="btn btn-secondary ml-1" (click)="onReset()"><i
                class="fa fa-undo"></i> Reset
              </button>
              <button type="submit" [disabled]="theForm.form.invalid || !theForm.dirty"
                      class="btn btn-primary pull-right"><i class="fa fa-save"></i> Save
              </button>
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #loading>Laddar ...</ng-template>
