<div class="container mt-2 mb-2">



  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Contact
          <div class="pull-right">
            <button type="button" class="btn btn-outline-secondary" (click)="doEditProfile()">
              <i class="fa fa-cog"></i>
              <span class="sr-only">Edit</span>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div>Name: {{ idp.client().tokenParsed['name'] }}</div>
          <div>Email: {{ idp.client().tokenParsed['email'] }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
