@import '~scss/styles';

@include media-breakpoint-up(sm) {
    .news-content {
        padding: 20px 40px
    }
}

.news-content {
    width: 100%;
    background-color: #fff;
    padding: 0 1em
}

h2 {
    border-bottom: 1px solid rgba(15, 70, 100, 0.12);
    margin-top: 1em
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
