<div class="container">
  <div class="news-content">
    <div class="row">
      <div class="col-md-7">
        <div class="news-feed">
          <h2>Announcements</h2>
          <p>
            <i>Announcements soon to be announced</i>
          </p>
          <h2>Widget challenge</h2>
          <p>The wait is finally over!</p>
          <p>At the last Jobtech Forum we announced a widget competition for you.
            Erik Sandström challenged you to beat his own widget.</p>
          <p>For example we don't want people jumping from one job searching site to another, we want them to find
            jobs.</p>
          <p> Can you make the jobs find the people without having them looking?</p>
          <p> The goal is to make a widget that in some way helps the labour market or a jobseeker, by using any open
            data.</p>
          <p>You can find some data (Platsbanken: Jobpostings, Job forecasts and the Ontology) at <a
            href="http://wwwJobtechdev.se" target="_blank">Jobtechdev.se</a>

           <p>Contribute to the challenge and send your widget to <a href="mailto:jobtechdev@arbetsformedlingen.se">jobtechdev@arbetsformedlingen.se</a></p>
          <br>
          <p> Are you still up for the challenge to make Sweden a little bit better?

          <h2>Jobtech in media - News Øresund.</h2>

          <p>Read the interview with our community manager Max Danielsson, about the jobtech platform. Published in News
            Øresund. This article is in swedish.</p>
          <a href="http://www.newsoresund.se/arbetsformedlingen-satsar-pa-digital-plattform/"> To the article</a>
          <h2>Widget challenge!</h2>
          <p>At Jobtech forum, the 13th of October, we announced a widget challenge!</p>
          <p>Create a widget, useful to the labor market.</p>
          <p>We are working on our widget right now, are you working on yours?</p>
          <p>Keep an eye at Jobtechdev.se, more information to come.</p>
          <p>Join us and contribute!</p>
          <h2>Jobtech Forum</h2>
          <p>
            <b> Välkommen till ett nytt Jobtech Forum den 13 oktober 2017!</b>
          </p>
          <p>Arbetsförmedlingens avdelning Digitala tjänster är glada att få bjuda in dig till höstens Jobtech
            Forum!</p>
          <p>I våras genomförde vi ett välbesökt första Jobtech Forum. Nu vill vi fortsätta dialogen om hur vi gemensamt
            kan
            skapa förutsättningar för digitala samarbeten inom området jobbmatchning. Vår vision är ett ekosystem där
            olika
            aktörer delar en gemensam infrastruktur som gör det enklare för den som söker arbete eller vill rekrytera.
            Genom
            att samarbeta kan vi ta tillvara innovationskraften och bidra till en effektivare matchning på
            arbetsmarknaden!</p>
          <p>Under dagen kommer vi att presentera flera nyheter bland annat en första version av Job store, Jobskills
            (kartläggning
            av kompetenser för målgruppen nyanlända) samt öppen ontologi (realtidsuppdaterat värdeföråd av kompetenser).
            Kan man räkna fram vilket företag som kommer att rekrytera? I samarbete mer RISE har vi tagit fram en första
            version av tjänsten som kombinerar historiska platsannonser med ekonomisk data.</p>
          <p>Detta och mycket annat vill vi diskutera mer dig!</p>
          <br>
          <p>Lokal: Epicenter, Mäster Samuelsgatan 36 i Stockholm</p>
          <p>
            <b>Preliminärt program:</b>
          </p>
          <p>08.30 Registrering och kaffe</p>
          <p>09.00 -11.00 Presentation av vision, vad som hänt sen sist och hur vi går vidare. Erik Sandström, chef för
            Matcha
            direkt, Arbetsförmedlingen</p>
          <p>11.00-1200 Keynote speaker, Pôle Emploi, den franska statliga arbetsförmedlingen berättar om Emploi Store
            och deras
            samarbete med privata aktörer för att effektivisera matchningen på arbetsmarknaden.</p>
          <p>12.00- 14.00 Lunch, samtidigt kan du ta del av utställningar om pågående utvecklingsinitiativ och delta i
            open
            space-diskussioner
          </p>
          <p>Arbetsförmedlingen visar nya och kommande tjänster. Här kan du också diskutera affärsmodeller och
            samarbeten i
            mindre grupp. I år har vi har flera av våra skarpa utvecklare på plats för att diskutera API:er, öppna data
            och
            gemensam utveckling baserat på öppen källkod.</p>
          <p></p>
          <p>Dagen vänder sig till personer i ledande befattningar inom företaget och personer som arbetar med
            teknikutveckling.
            Antalet platser är begränsat.</p>
          <p>Anmälan:</p>
          <p>Anmälan görs senast den 29 september via denna länk:</p>
          <a href="http://www.delegia.com/app/netattm/attendee/page/64118" target="_blank">Anmälan Jobtech forum </a>
          <p>Välkommen!</p>
          <h2>Innovationsvecka</h2>
          <p>
            <b>Innovationsvecka Göteborg/Halmstad 5-9 Oktober</b>
          </p>
          <p>Arbetsgivare behöver arbetskraft och arbetssökande behöver jobb – ändå hittar de inte alltid varandra.
            Innovationsveckan
            2017 arrangeras av Arbetsförmedlingens Digitala Innovationscenter, Ingenjörer utan gränser, Business Region
            Göteborg,
            Kinnarps Workspace Solutions och Högskolan i Halmstad.</p>
          <a href="http://www.jobbhackathon.se/innovationsvecka-i-goteborghalmstad" target="_blank">Mer information och
            anmälan </a>
          <h2>Labour market competition</h2>
          <p>(Competition completed)</p>
          <p>
            <b>Be part of developing a labour market for all and have a chance to win 2 million SEK</b>
          </p>
          <p>Submit a digital solution that makes it easier to employ or to find a job that matches people´s different
            capacity
            for work. Or develop an innovative idea or solution that will make workplaces more accessible to everyone,
            or
            will help employers to see competence and opportunities instead of barriers.</p>
          <p>Every winner in the innovation competition will receive expert support and financing up to a total of SEK 2
            million.
            The competition is a collaboration between PTS and Arbetsförmedlingen.</p>
          <p>Find out more
            <a href="http://www.pts.se/innovation14en" target="_blank">http://www.pts.se/innovation14en</a> or
            <a href="http://www.pts.se/innovation14" target="_blank">http://www.pts.se/innovation14</a>
          </p>
          <br>
          <img class="img-responsive" src="assets/images/bild_eng_221x221.png">
        </div>
      </div>
      <div class="col-md-5">
        <div class="twitter-feed">
          <a class="twitter-timeline" href="https://twitter.com/jobtechdev">Tweets by @jobtechdev</a>
        </div>
      </div>
    </div>
  </div>
</div>
