<div class="container">
  <div class="news-content">
    <div class="row">
      <div class="col-md-7">
        <div class="news-feed">
          <h2>Jobtech Forum</h2>
        <app-imgmodal></app-imgmodal>

          <a href="https://goo.gl/forms/o4wunZnRtGbHEmx73"> Anmäl dig här!</a>

          <h2>Hack for Swedens</h2>

          <h4> The Hack summary: </h4>

          <p>Hack for Sweden kicked off at a racing speed with API, AI and QnA sessions. Then the hackers started coding!
            For us at Arbetsförmedlingen, the best part was seeing that our datasets were among the top 3 most popular APIs in use! Seven different teams used our APIs to build smart solutions for the good of the Swedish labor market.
            We are happy to present the seven solutions, and here they are!</p>
          <h4> The breakfast club</h4>

          <p>It's a service that suggests meetups based on the type of job the user is searching for, thus giving jobseekers the possibility to expand their professional network and increase the chance to find their dream job. This is done by combining Arbetsförmedlingen APIs (ontology and Job Forecast) and an open source API from Meetup.com
            Datasets: Ontology API (Arbetsförmedlingen) + Job Forecast (Arbetsförmedlingen).
            <br>
            <a href= "https://devpost.com/software/the-breakfast-club"> Breakfast Club </a>

          <h4>Hack From Sweden</h4>
          <p>A developed “Smart Cash Index” (SCI) for plotting housing cost against remote jobs. The SCI will also show quality of life in proximity to parks, hospitals, schools etc. This is done to inform users of good places to live in while working remotely in Sweden.

            Datasets: Platsbanken API (Arbetsförmedlingen) + Living costs (SCB)
            <a href= "https://devpost.com/software/hackfromsweden">Hack from Sweden</a>
          </p>

          <h4>Ready Work</h4>

          <p> The tool provides a ranking of geographical areas where the user's unique skill-set is most needed. The algorithm takes into account the number of ads in each location and compares it with the population size in the same location.According to the 'Ready Work' team their ranking algorithm can be further developed to include the user's own preferences as a filtering method.
            The application also provides the user with relevant information on the region as well as a list of jobs matching their personal set of skills.
            The Ready Work team used Microsoft Azure’s translation API to ensure that skills are matched correctly regardless of the users language. By providing a translation service for the job application process itself, Ready Work can help connect the user with employers on a more even playing field.
            Datasets: Platsbanken API (Arbetsförmedlingen) + Translator API (Microsoft)
            <a href= "https://devpost.com/software/ready-work"> Ready work</a>
          </p>

          <h4> Map Your Career</h4>
          <p>Map you career facilitates the discussion on career options providing dynamic content in an easy-to-understand way.
            This is a tool that can be used both during on-person visits to the employment office or remotely. The newcomers can enter their skills to retrieve a list of relevant professions  displayed in a bubble chart.
            Most relevant jobs are shown in the center while others are displayed around it. Hovering over a profession displays the job description and it's trend. Using this tool, employment officer can gather some basic background information and add their personal comments. At the end of the process a summary report is provided in a printer-friendly format.
            Map your career facilitates the discussion on career options providing dynamic content in an easy to understand way.p Datasets: Historical job postings, professions, Ontology and Forecasts (Arbetsförmedlingen)
            <br>
            <a href="https://devpost.com/software/map-your-career">Map you career</a>

          <h4> Match me if you can</h4>
          <p> When selecting the topics of interest this software initiates a lookup in the graph database (Neo4J) that was initially fed with all information about the available APIs. The lookup results in a list of APIs that are related to each other and that contains data about the chosen topics. These APIs can simply be combined for building the software of your dreams.
            Datasets: All datasets available
            <br>
            <a href="https://devpost.com/software/minima-perfect-hash-indexing">Match me if you can</a>

          <h4>Match Yourself </h4>
          <p>The service matches personality with jobs. It walks you through 20 questions of a proven scientific method for understanding the jobseekers personality traits and combine the results with Arbetsförmedlingen APIs (both ontology and real-time job).
            The result is a matching score that suggests the most suitable jobs currently available
            Datasets: Ontology API + Platsbanken API (Arbetsförmedlingen)
            <br>
            <a href="https://devpost.com/software/match-yourself">Match yourself</a>


          <h4>LocationRank</h4>
          <p> This app produces a comparison of two geographical areas based on certain competencies helping both employers and employees to find the best geographical area for their business.
            Datasets: Ontology API (Arbetsförmedlingen)
            <br>
            <a href="https://devpost.com/software/locateme-dj81wu">LocationRank</a>



          <h2>Widget challenge</h2>
          <p>The wait is finally over!</p>
          <p>At the last Jobtech Forum we announced a widget competition for you.
           Erik Sandström challenged you to beat his own widget.</p>
          <p>For example we don't want people jumping from one job searching site to another, we want them to find
            jobs.</p>
          <p> Can you make the jobs find the people without having them looking?</p>
          <p> The goal is to make a widget that in some way helps the labour market or a jobseeker, by using any open
            data.</p>
          <p>You can find some data (Platsbanken: Jobpostings, Job forecasts and the Ontology) at <a
            href="http://wwwJobtechdev.se" target="_blank">Jobtechdev.se</a>

          <p>Contribute to the challenge and send your widget to <a href="mailto:jobtechdev@arbetsformedlingen.se">jobtechdev@arbetsformedlingen.se</a></p>
          <br>
          <p> Are you still up for the challenge to make Sweden a little bit better?

          <h2>Jobtech in media - News Øresund.</h2>

          <p>Read the interview with our community manager Max Danielsson, about the jobtech platform. Published in News
            Øresund. This article is in swedish.</p>
          <a href="http://www.newsoresund.se/arbetsformedlingen-satsar-pa-digital-plattform/"> To the article</a>
          <h2>Widget challenge!</h2>
          <p>At Jobtech forum, the 13th of October, we announced a widget challenge!</p>
          <p>Create a widget, useful to the labor market.</p>
          <p>We are working on our widget right now, are you working on yours?</p>
          <p>Keep an eye at Jobtechdev.se, more information to come.</p>
          <p>Join us and contribute!</p>
          <h2>Jobtech Forum</h2>
          <p>
          <b> Välkommen till ett nytt Jobtech Forum den 13 oktober 2017!</b>
          </p>
          <p>Arbetsförmedlingens avdelning Digitala tjänster är glada att få bjuda in dig till höstens Jobtech
            Forum!</p>
          <p>I våras genomförde vi ett välbesökt första Jobtech Forum. Nu vill vi fortsätta dialogen om hur vi gemensamt
            kan
            skapa förutsättningar för digitala samarbeten inom området jobbmatchning. Vår vision är ett ekosystem där
            olika
            aktörer delar en gemensam infrastruktur som gör det enklare för den som söker arbete eller vill rekrytera.
            Genom
            att samarbeta kan vi ta tillvara innovationskraften och bidra till en effektivare matchning på
            arbetsmarknaden!</p>
          <p>Under dagen kommer vi att presentera flera nyheter bland annat en första version av Job store, Jobskills
            (kartläggning
            av kompetenser för målgruppen nyanlända) samt öppen ontologi (realtidsuppdaterat värdeföråd av kompetenser).
            Kan man räkna fram vilket företag som kommer att rekrytera? I samarbete mer RISE har vi tagit fram en första
            version av tjänsten som kombinerar historiska platsannonser med ekonomisk data.</p>
          <p>Detta och mycket annat vill vi diskutera mer dig!</p>
          <br>
          <p>Lokal: Epicenter, Mäster Samuelsgatan 36 i Stockholm</p>
          <p>
            <b>Preliminärt program:</b>
          </p>
          <p>08.30 Registrering och kaffe</p>
          <p>09.00 -11.00 Presentation av vision, vad som hänt sen sist och hur vi går vidare. Erik Sandström, chef för
            Matcha
            direkt, Arbetsförmedlingen</p>
          <p>11.00-1200 Keynote speaker, Pôle Emploi, den franska statliga arbetsförmedlingen berättar om Emploi Store
            och deras
            samarbete med privata aktörer för att effektivisera matchningen på arbetsmarknaden.</p>
          <p>12.00- 14.00 Lunch, samtidigt kan du ta del av utställningar om pågående utvecklingsinitiativ och delta i
            open
            space-diskussioner
          </p>
          <p>Arbetsförmedlingen visar nya och kommande tjänster. Här kan du också diskutera affärsmodeller och
            samarbeten i
            mindre grupp. I år har vi har flera av våra skarpa utvecklare på plats för att diskutera API:er, öppna data
            och
            gemensam utveckling baserat på öppen källkod.</p>
          <p></p>
          <p>Dagen vänder sig till personer i ledande befattningar inom företaget och personer som arbetar med
            teknikutveckling.
            Antalet platser är begränsat.</p>
          <p>Anmälan:</p>
          <p>Anmälan görs senast den 29 september via denna länk:</p>
          <a href="http://www.delegia.com/app/netattm/attendee/page/64118" target="_blank">Anmälan Jobtech forum </a>
          <p>Välkommen!</p>
          <h2>Innovationsvecka</h2>
          <p>
            <b>Innovationsvecka Göteborg/Halmstad 5-9 Oktober</b>
          </p>
          <p>Arbetsgivare behöver arbetskraft och arbetssökande behöver jobb – ändå hittar de inte alltid varandra.
            Innovationsveckan
            2017 arrangeras av Arbetsförmedlingens Digitala Innovationscenter, Ingenjörer utan gränser, Business Region
            Göteborg,
            Kinnarps Workspace Solutions och Högskolan i Halmstad.</p>
          <a href="http://www.jobbhackathon.se/innovationsvecka-i-goteborghalmstad" target="_blank">Mer information och
            anmälan </a>
          <h2>Labour market competition</h2>
          <p>(Competition completed)</p>
          <p>
            <b>Be part of developing a labour market for all and have a chance to win 2 million SEK</b>
          </p>
          <p>Submit a digital solution that makes it easier to employ or to find a job that matches people´s different
            capacity
            for work. Or develop an innovative idea or solution that will make workplaces more accessible to everyone,
            or
            will help employers to see competence and opportunities instead of barriers.</p>
          <p>Every winner in the innovation competition will receive expert support and financing up to a total of SEK 2
            million.
            The competition is a collaboration between PTS and Arbetsförmedlingen.</p>
          <p>Find out more
            <a href="http://www.pts.se/innovation14en" target="_blank">http://www.pts.se/innovation14en</a> or
            <a href="http://www.pts.se/innovation14" target="_blank">http://www.pts.se/innovation14</a>
          </p>
          <br>
          <img class="img-responsive" src="assets/images/bild_eng_221x221.png">
        </div>
      </div>
      <div class="col-md-5">
        <div class="twitter-feed">
          <a class="twitter-timeline" href="https://twitter.com/jobtechdev">Tweets by @jobtechdev</a>
        </div>
      </div>
    </div>
  </div>
</div>
