@import "../../../../node_modules/bootstrap/scss/bootstrap";

.jumbotron{
  background-color: #fff;

  background-repeat:no-repeat;

  background-size: cover;
  height: 200px;
  background-position: center;

  h2{
    color:white;
    font-weight: 900;
    text-shadow: 2px 2px 10px #000;
      }
}

.card-text{
  white-space: pre-line;
}

