<div class="container" *ngIf="item | async; let item; else loading">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/assets']">Assets</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{item.title}}</li>
    </ol>
  </nav>

  <div class="card">

    <div class="jumbotron" [ngStyle]="{'background-image':'url('+(item.headimage ? item.headimage : item.image)+')'}">
      <h2>{{item.title}}</h2>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col">
          <div class="card-text" *ngFor="let item of item.texts">
            <h4>{{item.header}}</h4>
            <p>{{item.description}}</p>
          </div>
        </div>
        <div class="col-12 col-md-3" *ngIf="item.files?.length > 0">
          <h5>Downloads</h5>
          <div *ngFor="let item of item.files">
            <a href="{{item.url}}" target="_blank">{{item.name}} </a>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="links">
      <a *ngFor="let item of item.externallinks" class="btn btn-info card-link" href="{{item.link}}" target="_blank">
        {{item.name}}
      </a>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>Laddar ...</ng-template>
