<div class="col-md-12 product-menu">
  <ul>
    <li [ngClass]="{'active': isSelected('platsbanken')}">
      <a [routerLink]="['/assets/platsbanken']">&gt; Platsbanken</a>
    </li>
    <li [ngClass]="{'active':isSelected('occupations')}">
      <a [routerLink]="['/assets/occupations']">&gt; Occupation</a>
    </li>
    <li [ngClass]="{'active':isSelected('historical')}">
      <a [routerLink]="['/assets/historical-job-postings']">&gt; Historical Job Postings</a>
    </li>
    <li [ngClass]="{'active':isSelected('forecasts')}">
      <a [routerLink]="['/assets/occupation-forecasts']">&gt; Occupation Forecast</a>
    </li>
    <li [ngClass]="{'active':isSelected('ontology')}">
      <a [routerLink]="['/assets/ontology']">&gt; Job market ontology</a>
    </li>
  </ul>
</div>
