@import '~scss/_variables';

.product-menu ul li a {
  color: inherit;
}

.product-menu ul {
  list-style: none;
  margin: 0;
  padding-left: 10px;
  line-height: 39px;
}

.product-menu ul li.active {
  font-weight: bold;
}
