<div class="container">
  <div class="card mx-auto sign-in-card">
    <div class="card-header">
      <h5 class="card-title">Sign in</h5>
    </div>
    <div class="card-body">
      <div class="card-text">
        <form class="form" role="form" method="post" [formGroup]="signInForm" (ngSubmit)="signInWithEmailAndPassword()" accept-charset="UTF-8">
          <div class="form-group">
            <label class="sr-only" for="input-email">Email address</label>
            <input type="email" class="form-control" formControlName="email" placeholder="Email address"
             required id="input-email" [ngClass]="{'is-invalid':signInForm.controls.email.invalid}">
            <div *ngIf="signInForm.controls.email.invalid" class="invalid-feedback">
                Please enter your email address.
              </div>
          </div>
          <div class="form-group">
            <label class="sr-only" for="input-password">Password</label>
            <input type="password" class="form-control" formControlName="password" id="input-password" placeholder="Password"
              [ngClass]="{'is-invalid':signInForm.controls.password.invalid}">
          </div>
          <div class="form-group" [ngClass]="{'disabled':signInForm.invalid}">
            <button type="submit" class="form-control btn btn-primary pull-right" [disabled]="signInForm.invalid">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <div class="card-footer">
      <a class="card-link" [routerLink]="['/lost-password']">Reset password</a>
      <a class="card-link pull-right" [routerLink]="['/signup']">Sign up</a>
    </div>
  </div>
</div>