<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Platform</li>
  </ol>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-3"></div>
        <p></p>
        <div class="col-md-3"></div>
        <h4>Ecosystem is the future</h4>
        <p>Rather than today separate systems for job matching, we strive for a digital ecosystem where services from different
          vendors can flourish together making superior opportunities for jobseekers and employers. In the heart of the ecosystem
          there are a number of core components which is described below. We are convinced that competition leads to better
          customer services. By providing these ecosystem core components we hope today competition continues, but at a higher
          level and faster pace.</p>
      </div>
      <p></p>
      <div class="row">
        <div class="col-md-3"></div>
        <p></p>
        <div class="col-md-3"></div>
        <h5>
          <b>Jobstore</b>
        </h5>
        <p>In order to make it easier for employers and jobseekers we will provide an online catalog for the digital services.
          We call it Jobstore.</p>
      </div>
      <p></p>
      <div class="row">
        <div class="col-md-3">
          <img src="assets/images/skills.png">
        </div>
        <div class="col-md-3"></div>
        <h5>
          <b>Skills taxonomy</b>
        </h5>
        <p>When matching employers demand with jobseekers profile, it is crucial to use a common description of skills. Therefore
          a skills taxonomy is one of the core components.</p>
      </div>
      <p></p>
      <div class="row">
        <div class="col-md-3">
          <img src="assets/images/cv.png">
        </div>
        <div class="col-md-3"></div>
        <h5>
          <b>CV handler</b>
        </h5>
        <p>We believe people want to own their personal data; no matter what digital service they use. And we are quite sure
          that soon people will claim rights to easily move their data between digital services. We aim to develop a CV handler
          with a “edit once –update everywhere” concept. A concept that allows your CV data to be accessible from every digital
          service in the ecosystem, but only by the one person holding the key - namely you.</p>
      </div>
      <p></p>
      <div class="row">
        <div class="col-md-3">
          <img src="assets/images/job_hub.png">
        </div>
        <div class="col-md-3"></div>
        <h5>
          <b>Vacancy hub</b>
        </h5>
        <p>When it comes to vacancies, we think it would be great if digital service providers could offer employers with the
          opportunity to easily reach the whole labor market. This we will make possible with a vacancy hub.</p>
      </div>
      <p></p>
      <div class="row">
        <div class="col-md-3">
          <img src="assets/images/engine.png">
        </div>
        <div class="col-md-3"></div>
        <h5>
          <b>Matching engine</b>
        </h5>
        <p>The most sophisticated core component is the matching engine. Unlike a search engine, it handles both the request
          and the offer. The underlying data comes from the CV handler, the Vacancy hub, and the Skills taxonomy.</p>
      </div>
      <p></p>
      <div class="row">
        <div class="col-md-3">
          <p></p>
        </div>
        <div class="col-md-3"></div>
        <h5>
          <b>Jobtech Developer</b>
        </h5>
        <p>The Jobtech Developer website is a toolbox that will contain access and support for the ecosystem core components.
          But already you will find several open assets and other developer resources on the website.</p>
        <p></p>
        <p>Happy coding!</p>
        <p>The Jobtech Developer team</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
            <h4> Roadmap </h4>
        </div>
      </div>
      <div class="row"></div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
        <div class="timeline_utveckling"></div>
      </div>
      <div class="timeline timeline-line-dotted">
        <span class="timeline-item">
          <span class="timeline-point timeline-point-success">
            <div class="fa fa-code"></div>
          </span>
          <div class="timeline-event" id="test" data-toggle="collapse" data-target="#timelineevent0">
            <div class="timeline-heading">Open Data Nordic Forum</div>
            <div class="timeline-body">
              <p class="collapse" id="timelineevent0">Welcome to the first Nordic Open Data Forum that will take place in Stockholm in November. The first Nordic
                Open Data Forum event will take place in Stockholm, 20-21 November 2017. Open Data has quickly become an
                important issue for all of us and a key component when building the future internet. The synergies between
                the Nordic countries are many and it’s time we meet and talk. .

              </p>
            </div>
            <div class="timeline-footer text-right">2017-11-20</div>
          </div>
        </span>
        <span class="timeline-item">
          <span class="timeline-point timeline-point-success">
            <div class="fa fa-code"></div>
          </span>
          <div class="timeline-event" id="test" data-toggle="collapse" data-target="#timelineevent1">
            <div class="timeline-heading">Job Market Ontology</div>
            <div class="timeline-body">
              <p class="collapse" id="timelineevent1">Ontology created from job postings</p>
            </div>
            <div class="timeline-footer text-right">2017-10-15</div>
          </div>
        </span>
        <span class="timeline-item">
          <span class="timeline-point timeline-point-success">
            <div class="fa fa-code"></div>
          </span>
          <div class="timeline-event" id="test" data-toggle="collapse" data-target="#timelineevent2">
            <div class="timeline-heading">Jobstore</div>
            <div class="timeline-body">
              <p class="collapse" id="timelineevent2">Pre release of Jobstore 1.0</p>
            </div>
            <div class="timeline-footer text-right">2017-10-13</div>
          </div>
        </span>
        <span class="timeline-item">
          <span class="timeline-point timeline-point-success">
            <div class="fa fa-code"></div>
          </span>
          <div class="timeline-event" id="test" data-toggle="collapse" data-target="#timelineevent3">
            <div class="timeline-heading">Jobtech forum</div>
            <div class="timeline-body">
              <p class="collapse" id="timelineevent3">Jobtech forum</p>
            </div>
            <div class="timeline-footer text-right">2017-10-13</div>
          </div>
        </span>
        <span class="timeline-label">
          <span class="label label-primary">2017 Q4</span>
          <span class="timeline-label"></span>
        </span>
        <span class="timeline-item">
          <span class="timeline-point timeline-point-success">
            <div class="fa fa-code"></div>
          </span>
          <div class="timeline-event" id="test" data-toggle="collapse" data-target="#timelineevent4">
            <div class="timeline-heading">Jobtech Dev</div>
            <div class="timeline-body">
              <p class="collapse" id="timelineevent4">Presentation of Jobtechdev.se to the public at Almedalen</p>
            </div>
            <div class="timeline-footer text-right">2017-06-10</div>
          </div>
        </span>
        <span class="timeline-item">
          <span class="timeline-point timeline-point-success">
            <div class="fa fa-code"></div>
          </span>
          <div class="timeline-event" id="test" data-toggle="collapse" data-target="#timelineevent5">
            <div class="timeline-heading">Widgets</div>
            <div class="timeline-body">
              <p class="collapse" id="timelineevent5">Created the first Platsbanken widget</p>
            </div>
            <div class="timeline-footer text-right">2017-06-01</div>
          </div>
        </span>
        <span class="timeline-label">
          <span class="label label-primary">2017 Q2</span>
          <span class="timeline-label"></span>
        </span>
      </div>
    </div>
  </div>
</div>