<div class="container">

  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Ecosystem is the future</h4>
      <p class="card-text">Rather than today separate systems for job matching, we strive for a digital ecosystem where
        services from different
        vendors can flourish together making superior opportunities for jobseekers and employers. In the heart of the
        ecosystem there are a number of core components which is described below. We are convinced that competition
        leads to better customer services. By providing these ecosystem core components we hope today competition
        continues,
        but at a higher level and faster pace.
      </p>
    </div>

    <div class="card-body">
      <h5 class="card-title">Jobstore</h5>
      <p class="card-text">In order to make it easier for employers and jobseekers we will provide an online catalog
        for the digital services.
        We call it Jobstore.</p>
    </div>

    <div class="card-body">
      <img class="card-img-left pull-left mr-2" src="assets/images/skills.png">
      <h5 class="card-title">Skills taxonomy</h5>
      <p class="card-text">When matching employers demand with jobseekers profile, it is crucial to use a common
        description of skills.
        Therefore a skills taxonomy is one of the core components.</p>
    </div>

    <div class="card-body">
      <img class="card-img-left pull-left mr-2" src="assets/images/cv.png">
      <h5 class="card-title">CV handler</h5>
      <p class="card-text">
        We believe people want to own their personal data; no matter what digital service they use. And we are quite
        sure that soon people will claim rights to easily move their data between digital services. We aim to develop
        a CV handler with a “edit once –update everywhere” concept. A concept that allows your CV data to be
        accessible
        from every digital service in the ecosystem, but only by the one person holding the key - namely you.</p>
    </div>

    <div class="card-body">
      <img class="card-img-left pull-left mr-2" src="assets/images/job_hub.png">
      <h5 class="card-title">Vacancy hub</h5>
      <p class="card-text">When it comes to vacancies, we think it would be great if digital service providers could
        offer employers with
        the opportunity to easily reach the whole labor market. This we will make possible with a vacancy hub.</p>
    </div>

    <div class="card-body">
      <img class="card-img-left pull-left mr-2" src="assets/images/engine.png">
      <h5 class="card-title">Matching engine</h5>
      <p class="card-text">The most sophisticated core component is the matching engine. Unlike a search engine, it
        handles both the request
        and the offer. The underlying data comes from the CV handler, the Vacancy hub, and the Skills taxonomy.</p>
    </div>

    <div class="card-body">
      <h5 class="card-title">Jobtech Developer</h5>
      <p class="card-text">The Jobtech Developer website is a toolbox that will contain access and support for the
        ecosystem core components.
        But already you will find several open assets and other developer resources on the website.</p>

      <div class="card-body">
        <p>Happy coding!</p>
        <p>The Jobtech Developer team</p>

      </div>
    </div>
  </div>
