<header class="container-fluid" [ngClass]="currentRoute">

  <nav class="navbar navbar-dark bg-dark navbar-default navbar-expand-md">
    <a class="navbar-brand" [routerLink]="['/']">
      <img src="/assets/images/jobtechlogo.png">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-expanded="false"
            aria-label="Toggle navigation"
            (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMenu" [ngbCollapse]="isCollapsed">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown nowrap" ngbDropdown routerLinkActive="active">
          <a class="nav-link dropdown-toggle" id="dropdownAssets" ngbDropdownToggle>ASSETS</a>
          <div class="dropdown-menu text-light bg-dark" ngbDropdownMenu aria-labelledby="dropdownAssets">
            <a class="dropdown-item" [routerLink]="['/assets/overview']">Overview</a>
            <a class="dropdown-item" [routerLink]="['/assets/platsbanken']">Platsbanken</a>
            <a class="dropdown-item" [routerLink]="['/assets/occupation-forecasts']">Occupation Forecasts</a>
            <a class="dropdown-item" [routerLink]="['/assets/occupations']">Occupations</a>
            <a class="dropdown-item" [routerLink]="['/assets/historical-job-postings']">Job market ontology</a>
            <a class="dropdown-item" [routerLink]="['/assets/ontology']">Ontology</a>
          </div>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/platform']">PLATFORM</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/showcase']">SHOWCASE</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/news']">NEWS</a>
        </li>
      </ul>

      <div *ngIf="keycloakService.authenticated() == false">

        <ul class="navbar-nav navbar-right">

          <li class="nav-item">
            <div class="nav-link nowrap">
              <a (click)="doLogin()">Login</a>
              <span>or</span>
              <a (click)="doRegister()">Register</a>
            </div>

          </li>
        </ul>
      </div>

      <div *ngIf="keycloakService.authenticated()">
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <div ngbDropdown class="" placement="bottom-right">
              <a class="nav-link" id="dropdownAccount" ngbDropdownToggle>{{ keycloakService.client().userInfo?.name}}</a>
              <div class="bg-dark" ngbDropdownMenu aria-labelledby="dropdownAccount">
                <a class="dropdown-item nav-link" [routerLink]="['/profile']">My profile</a>
                <a class="dropdown-item nav-link" (click)="doLogout()">Sign out</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <h1 class="navbar-dark page-title">{{ title }}</h1>

</header>
