<div class="container">
  <div class="card mx-auto sign-up-card">
    <div class="card-header">
      <h5 class="card-title">Sign up</h5>
    </div>
    <div class="card-body">
      <div class="card-text">
        <form class="form" role="form" method="post" [formGroup]="form" (ngSubmit)="signUpWithEmailAndPassword()" accept-charset="UTF-8">
          <div class="form-group">
            <label class="sr-only" for="input-name">Name</label>
            <input type="name" class="form-control" formControlName="name" placeholder="Name" required 
            id="input-name" [ngClass]="{'is-invalid':form.controls.name.dirty && form.controls.name.invalid}">
            <div *ngIf="form.controls.name.dirty && form.controls.name.invalid" class="invalid-feedback">
              Please enter your name.
            </div>
          </div>
          <div class="form-group">
            <label class="sr-only" for="input-email">Email address</label>
            <input type="email" class="form-control" formControlName="email" placeholder="Email address" required 
            id="input-email" [ngClass]="{'is-invalid':form.controls.email.dirty && form.controls.email.invalid}">
            <div *ngIf="form.controls.email.dirty && form.controls.email.invalid" class="invalid-feedback">
              Please enter your email address.
            </div>
          </div>
          <div class="form-group">
            <label class="sr-only" for="password">Password</label>
            <input type="text" class="form-control" formControlName="password" id="password" placeholder="Password"
             [ngClass]="{'is-invalid':form.controls.password.dirty && form.controls.password.invalid}">
            <div *ngIf="form.controls.password.dirty && form.controls.password.invalid" class="invalid-feedback">
              Enter a 6+ letter passwords
            </div>
          </div>
          <div class="form-group">
            <label class="sr-only" for="confirmPassword">Password confirm</label>
            <input type="text" class="form-control" formControlName="confirmPassword" id="confirmPassword" placeholder="Password confirm"
              [ngClass]="{'is-invalid':form.controls.confirmPassword.dirty && form.controls.confirmPassword.invalid}">
            <div *ngIf="form.controls.confirmPassword.dirty && form.controls.confirmPassword.invalid" class="invalid-feedback">
              The passwords do not match
            </div>
            <!-- <div class="alert alert-danger" *ngIf="form.controls.confirmPassword.errors?.MutchPassword">Password not match</div> -->
          </div>
          <div class="form-group" [ngClass]="{'disabled':form.invalid}">
            <button type="submit" class="form-control btn btn-primary pull-right" [disabled]="form.invalid">Submit registration</button>
          </div>
        </form>
      </div>
    </div>
    <div class="card-footer">
      <a class="card-link" [routerLink]="['/lost-password']">Reset password</a>
      <a class="card-link pull-right" [routerLink]="['/signup']">Sign up</a>
    </div>
  </div>
</div>