<div class="container-fluid our-products">
  <div class="row puffs">
    <div class="col-sm-6 col-md-4 col-lg-3">
      <a [routerLink]="['/assets/platsbanken']">
        <div class="puff">
          <img src="/assets/images/api-puff.jpg">
          <div class="puff-text">
            <p class="puff-title">Platsbanken</p>
            <p class="puff-description">All the current job postings available on Platsbanken</p>
            <p class="puff-type">API</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <a [routerLink]="['/assets/occupations']">
        <div class="puff">
          <img src="/assets/images/occupation-puff.jpg">
          <div class="puff-text">
            <p class="puff-title">Occupation</p>
            <p class="puff-description">Occupational description of 450 different occupations, with forecasts</p>
            <p class="puff-type">API</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <a [routerLink]="['/assets/historical-job-postings']">
        <div class="puff">
          <img src="/assets/images/data-analysis-puff.jpg">
          <div class="puff-text">
            <p class="puff-title">Historical Job Postings</p>
            <p class="puff-description">All job postings from Platsbanken 2006-2016</p>
            <p class="puff-type">DATASETS</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <a [routerLink]="['/assets/occupation-forecasts']">
        <div class="puff">
          <img src="/assets/images/dev-services-puff.jpg">
          <div class="puff-text">
            <p class="puff-title">Occupation Forecasts</p>
            <p class="puff-description">Short and long-term forecasts of labour demand for different occupations</p>
            <p class="puff-type">API</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <a [routerLink]="['/assets/ontology']">
        <div class="puff">
          <img src="/assets/images/jobb-rymden.png">
          <div class="puff-text">
            <p class="puff-title">Job market ontology</p>
            <p class="puff-description">Ontology created from job postings.(This is a prototype service, with full functionality)</p>
            <p class="puff-type">API</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>