// Fonts

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/opensans/OpenSans-Light.ttf');
}

// Colors
$almost-white: #F2F4F5;
$white: #FFF;
$almost-black: #323232;
$black: #000;
$gray: #666666;
$shadow: #c4c9cc;
$blue: #0967b2;

$small-devices: 768px;
$medium-devices: 992px;
