<div class="work-in-progress">
  <p>We invite you to explore JobTech and give us your valuable feedback. <a
    href="mailto:jobtechdev@arbetsformedlingen.se">Email us</a></p>
</div>
<div class="container-fluid">
  <div class="row our-vision">
    <div class="col-md-6 image-cell">
      <img src="/assets/images/vision-startpage.jpg" alt="Vision" class="img-fluid">
    </div>
    <div class="col-md-6 pr-0">
      <h2 class="section-header">Our vision</h2>
      <p>
        <b>It´s quite simple.</b>
      </p>
      <p>Every day a person goes to a job they dislike or have no job to go to at all, is a loss. Not only for the
        individual,
        but also for the employer who has the potential to grow if they find the right person. This Sweden can not
        afford.&nbsp;</p>
      <p>We believe in using technology to let people connect in new ways. It will help people find their dream job and
        it will
        make employers find top candidates easier. By this our collective talents are better used and Sweden becomes a
        better
        place to live.</p>
    </div>
  </div>
  <div class="row principles">
    <div class="col-md-6">
      <h2 class="section-header">Guiding principles</h2>
      <p>No matter what we do, these principles will guide us:</p>
      <p>
      <li>
        <b>Collaborate</b>
        <br/>Work with others, they know&nbsp;something you do not know.
      </li>
      <li>
        <b>Diversity by design</b>
        <br/>Everyone is unique; one-size solution does not fit all.&nbsp;
      </li>
      <li>
        <b>Keep it simple</b>
        <br/>If people understand, they can contribute!
      </li>
      </p>
    </div>
    <div class="col-md-6 image-cell">
      <img src="/assets/images/compass-startpage.jpg" alt="Vision" class="img-fluid">
    </div>
  </div>
</div>
