@import '~scss/_variables';


.our-vision {
  background-color: #d2c2cc;
  padding: 0;
}

.principles {
  background-color:#e1ebe3;
  padding: 0;
}

.section-header {
  color: $almost-black;
}

.subtitle {
  font-size: larger;
  //font-weight: bold;
}

.contact {
  background-color: #0967b2;
}

.image-cell {
  margin: 0;
  padding: 0;
}

.img-fluid {
  width: 100%;
}