@import '~scss/_variables';


.container-fluid {
  max-width: 1200px;
  margin-left: 0;
  margin-right: 0;
}

.our-vision {
  background-color: #d2c2cc;
}
.principles {
  background-color:#e1ebe3;
}

.section-header {
  color: $almost-black;
}

// .home-row {
//   padding-top: 1vw;
//   padding-bottom: 1vw;
// }

.jumbotron {
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0;
}

.image-cell {
  margin: 0;
  padding: 0;
}