@import '~scss/_variables';
.jumbotron {
  margin-top: -85px;
  margin-bottom: 0px;
  height: 200px;
  border-radius: 0;
  background-image: url("../../assets/images/startpage-header-bg.jpg");

}


.our-vision {
  background-color: #d2c2cc;
  padding: 0;

  .container-fluid {
    max-width: 1200px;


  }

  .our-vision {
    background-color: #e1ebe3;
    padding-right: 1rem;

  }

  .principles {
    background-color: #e1ebe3;
    padding: 0;
  }

  .section-header {
    color: $almost-black;
  }

  .subtitle {
    font-size: larger;


    //font-weight: bold;
  }

  .contact {
    background-color: #0967b2;


    .work-in-progress {
      max-width: 1200px;
      background-color: #0967b2;
      // line-height: 62px;
      text-align: center;
      padding: 15px 20px;
      border-radius: 0px;


      p {
        font-size: 18px;
        color: $white;
        margin: 0;

        @media screen and (max-width: $medium-devices) {
          font-size: 14px;
        }

        a {
          color: $white !important;
          font-weight: bold;
        }
      }

    }

    .image-cell {
      margin: 0;
      padding: 0;
    }

    .img-fluid {
      width: 100%;
    }
  }
}
